#section1{
    height: 45rem;
}

#section1 h1{
    float: left;
    color: rgb(40, 182, 158);
    font-size: 60pt;
    width: 50%;
    text-align: left;
    padding-left: 1.5rem;
    padding-top: 1.5rem;
    font-family: 'righteous';
}

#section1 h2{
    float: left;
    color: rgb(40, 182, 158);
    font-size: 30pt;
    width: 50%;
    text-align: left;
    padding-left: 1.5rem;
    font-family: 'audiowide-regular';
}

.img-section1{
    padding-top: 1rem;
}

#section2{
    width: 100%;
    display: inline-block;
    margin-bottom: 6rem;
}

#section2 .grid-section2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#section2 .grid-section2 .item{
    display: block;
    width: 80%;
    padding: 0rem 1rem;
    margin: 1rem;
    margin-bottom: 5rem;
    border-left: 4px solid rgba(177, 223, 215, 0.842);
}

#section2 .grid-section2 .item span{
    color: rgb(41, 134, 119);
    font-size: 40pt;
}

#section2 .grid-section2 .item h2{
    color: rgb(40, 182, 158);
    font-size: 20pt;
}

#section2 .grid-section2 .item p{
    color: rgb(79, 107, 102);
}

#section3, #section4, #section5, #section6, #section7{
    padding-bottom: 8rem;
    padding-top: 4rem;
    display: grid;
}

#section3, #section5, #section7{
    background-color: rgba(11, 99, 90, 0.842);
}

#section4, #section6{
    background-color: rgb(255, 255, 255);
}

#section3 h2, 
#section5 h2,
#section7 h2{
    padding-left: 3rem;
    padding-bottom: 2rem;
    color: #fff;
    font-family: 'righteous';
    font-size: 25pt;
}

#section4 h2,
#section6 h2{
    padding-left: 3rem;
    padding-bottom: 2rem;
    color: rgb(40, 182, 158);
    font-family: 'righteous';
    font-size: 25pt;
}

#section3 .link-redirect, 
#section5 .link-redirect,
#section7 .link-redirect{
    margin-top: 4rem;
    background-color: rgb(40, 182, 158);
    padding: 1rem 2rem;
    color: #fff;
    font-size: 14pt;
    text-decoration: none;
    border-radius: 25px;
    transition: 0.5s;
}

#section4 .link-redirect,
#section6 .link-redirect{
    margin-top: 4rem;
    background-color: rgb(255, 255, 255);
    padding: 1rem 2rem;
    color: rgb(40, 182, 158);
    border: 2px solid rgb(40, 182, 158);
    font-size: 14pt;
    text-decoration: none;
    border-radius: 25px;
    transition: 0.5s;
}

#section4 .link-redirect:hover,
#section6 .link-redirect:hover{
    background-color: rgb(221, 252, 247);
}

#section3 .link-redirect:hover, 
#section5 .link-redirect:hover,
#section7 .link-redirect:hover{
    background-color: rgb(61, 199, 176);
}

#section3 .grid-section3, 
#section4 .grid-section4, 
#section5 .grid-section5,
#section6 .grid-section6,
#section7 .grid-section7{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#section3 .grid-section3 figure img, 
#section4 .grid-section4 figure img, 
#section5 .grid-section5 figure img,
#section6 .grid-section6 figure img,
#section7 .grid-section7 figure img{
    background-color: #fff;
    border: 8px solid #fff;
    border-radius: 6px;
}

#section3 .grid-section3 .label, 
#section4 .grid-section4 .label, 
#section5 .grid-section5 .label,
#section6 .grid-section6 .label,
#section7 .grid-section7 .label{
    margin: 0px;
}

#section3 .grid-section3 .label .item, 
#section4 .grid-section4 .label .item, 
#section5 .grid-section5 .label .item,
#section6 .grid-section6 .label .item,
#section7 .grid-section7 .label .item{
    padding: 1rem 0rem 1rem 1rem;
    width: 80%;
    margin: 1rem auto 0rem auto;
    background-color: #fff;
    border-radius: 10px;
    color: rgb(79, 107, 102);
}


#section4 .grid-section4 .label .border,
#section6 .grid-section6 .label .border{
    border: 2px solid rgb(40, 182, 158);
}


#section8{
    width: 100%;
    display: inline-block;
    margin-bottom: 6rem;
    margin-top: 6rem;
}

#section8 .grid-section8{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#section8 .grid-section8 .item{
    display: block;
    width: 80%;
    padding: 1rem;
    margin: 1rem;
    margin-bottom: 5rem;
    border: 1px solid rgba(177, 223, 215, 0.842);
    border-radius: 10px;
}

#section8 .grid-section8 .item span{
    color: rgb(41, 134, 119);
    font-size: 40pt;
}

#section8 .grid-section8 .item h2{
    color: rgb(40, 182, 158);
    font-size: 20pt;
}

#section8 .grid-section8 .item p{
    color: rgb(79, 107, 102);
}

#section9{
    margin: 4rem 0rem;
}

#section9 h2, #section9 h3{
    padding-left: 2rem;
    color: rgb(40, 182, 158);
}

#section9 fieldset{
    border: none;
    padding: 0rem 2rem;
}

#section9 label{
    color: rgb(79, 107, 102);
}

#section9 input:focus{
    outline: none;
    border: 2px solid rgb(40, 182, 158);
}

#section9 input{
    padding: 0.5rem 1rem;
    margin: 0.5rem 0rem;
    border: 1px solid rgb(40, 182, 158);
    border-radius: 50px;
}

#section9 button{
    color: #fff;
    background-color: rgb(40, 182, 158);
    padding: 0.5rem 2rem;
    border-radius: 15px;
    border: none;
    font-size: 12pt;
    font-family: 'Righteous';
    cursor: pointer;
    transition: 0.5s;
}

#section9 button:hover{
    background-color: rgb(61, 199, 176);
}


@media screen and (max-width: 1500px) {
    .img-section1{
        width: 90%;
    }
}

@media screen and (max-width: 1200px) {
    #section2 .grid-section2,
    #section8 .grid-section8{
        grid-template-columns: 1fr 1fr;
    }
    #section3 .grid-section3 figure img, 
    #section4 .grid-section4 figure img, 
    #section5 .grid-section5 figure img,
    #section6 .grid-section6 figure img,
    #section7 .grid-section7 figure img{
        width: 85%;
        margin: 1rem;
    }
}

@media screen and (max-width: 1050px) {
    .img-section1{
        display: none;
    }
    #section3 h2, #section5 h2, #section4 h2, #section6 h2, #section7 h2{
        padding-left: 1.5rem;
    }

}

@media screen and (max-width: 800px) {
    #section2 .grid-section2,
    #section8 .grid-section8{
        grid-template-columns: 1fr;
    }
    #section3 .grid-section3, 
    #section4 .grid-section4, 
    #section5 .grid-section5,
    #section6 .grid-section6,
    #section7 .grid-section7{
        grid-template-columns: 1fr;
    }
    #section1 h1{
        font-size: 40pt;
    }
    #section1 h2{
        font-size: 25pt;
    }
}