<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../css/general.css">
    <link rel="stylesheet" type="text/css" href="../../css/index.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous"/>
    <link rel="shortcut icon" href="../../img/logo/icon-web-page.png">
    <title>VN Tecnologia | Serviços</title>
    <script src="../../js/general.js"></script>
</head>
<body onload="loadPage()">
    <header>
        <div class="w100">
            <div class="header-position">
                <div class="flex w100 body-center">
                    <div class="menu-mob">
                        <button onclick="openMenu()" id="button-open">
                            <span class="material-icons">menu</span>
                        </button>
                        <button onclick="closeMenu()" id="button-close">
                            <span class="material-icons">close</span>
                        </button>
                        <div id="bg"></div>
                        <ul id="link-menu-mob">
                            <nav>
                                <li><a href="../../index.html">INICIO</a></li>
                                <li><a href="service.html">SERVIÇOS</a></li>
                                <li><a href="product.html">PRODUTOS</a></li>
                                <li><a href="about.html">SOBRE</a></li>
                            </nav>
                        </ul>
                    </div>
                    <div class="img-logo">
                        <figure>
                            <a href="../../index.html">
                               <img class="h-logo1" alt="logo-vntecnologia" src="../../img/logo/logo1.png"> 
                               <img class="h-logo2" alt="logo-vntecnologia" src="../../img/logo/logo2.png">
                               <img class="h-logo3" alt="logo-vntecnologia" src="../../img/logo/logo3.png">
                            </a>
                        </figure>
                    </div>
                    <div class="menu">
                        <nav class="flex">
                            <a href="../../index.html">INICIO</a>
                            <a href="service.html">SERVIÇOS</a>
                            <a href="product.html">PRODUTOS</a>
                            <a href="about.html">SOBRE</a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="space-header"></div>
    
    <div>
        <main>

        </main>
    </div>
    <footer>
        <div class="design-footer-color">
            <div class="marking-footer"></div>
            <br>
            <div class="body-center">
                <figure>
                    <a href="../../index.html">
                        <img alt="logo-footer" class="logo-footer" src="../../img/logo/logo-footer.png">
                    </a>
                </figure>

                <div class="grid grid-4fr">
                    <div class="guide-link">
                        <h2>PRINCIPAL</h2>
                        <br>
                        <a href="../../index.html">Inicio</a><br>
                        <a href="service.html">Serviços</a><br>
                        <a href="product.html">Produtos</a><br>
                        <a href="about.html">Quem somos</a><br>
                        <a href="about-site.html">Sobre o site</a><br>
                        <a href="questions.html">Perguntas frequentes</a><br>
                        <a href="contact-us.html">Fale conosco</a><br>
                    </div>
                    <div class="info-link">
                        <h2>INFORMAÇÕES</h2>
                        <br>
                        <a href="terms.html">Termos</a><br>
                        <a href="privacy.html">Política de privacidade</a><br>
                        <a href="publicity.html">Publicidade</a><br>
                        <a href="safety.html">Segurança</a><br>
                        <a href="contact.html">Contato</a><br>
                        <a href="help.html">Ajuda</a><br>
                        <a href="guide.html">Guia do usuário</a><br>
                    </div>
                    <div class="others-link">
                        <h2>VEJA TAMBÉM</h2>
                        <br>
                        <a href="site.html">Sites</a><br>
                        <a href="design.html">Design</a><br>
                        <a href="maintenance.html">Manutenção</a><br>
                        <a href="courses.html">Cursos</a><br>
                        <a href="classes.html">Aulas</a><br>
                        <a href="games.html">Jogos</a><br>
                        <a href="projects.html">Projetos</a><br>
                        <a href="subscription.html">Inscrições</a><br>
                        <a href="process.html">Processos</a><br>
                        <a href="news.html">Novidades</a><br>
                        <a href="price.html">Preços</a>
                    </div>
                    <div class="link-footer-sm">
                        <h2>REDES SOCIAIS</h2>
                        <br>
                        <div id="sm-link"></div>
                    </div>
                </div>
                <br>
                <br>
            </div>
            <br>
            <br>
            <br>
            <div class="desc-footer">
                <div id="email-footer"></div>
                <br>
                <div id="tel-footer"></div>
                <br>
                <br>
                <hr>
                <br>
                <br>
                <p id="address-footer"></p>
                20 de Janeiro de 2022.
            </div>
            <br>
            <br>
        </div>
        <div class="copy">
            <div class="body-center">
                <p><span id="copyyear"></span>  &copy;VN TECNOLOGIA. TODOS OS DIREITOS RESERVADOS.</p> 
            </div>
        </div>
    </footer>
</body>
</html>